body {
    overflow-y: hidden;
}

#content {
    width: 100% !important;
    height: 80%;
    float: unset;
}

#form-container {
    width: 350px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 30px;
    border-bottom: 3px solid var(--orange);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    margin-top: 100px;
}

@media (max-width: 585px) {
    #form-container {
        left: unset;
        top: 120px;
    }
}

#form-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#heading {
    text-align: center;
    -webkit-margin-before: unset;
}

#form-container input[type="password"] {
    padding: 7px;
    width: 95%;
    margin-bottom: 5px;
    border: none;
    border-bottom: 2px solid var(--white);
}

#form-container input[type="password"]:focus {
    outline: 0;
    border-bottom: 2px solid var(--orange);
}

#form-container button {
    margin: 20px 2px 0px;
    padding: 10px;
    float: right;
}

footer {
    margin-left: unset !important;
}